body{

background-color: white;
background-image: url("sky.jpeg");
background-color: #cccccc;}

#wrapper {
  width: 1200px;
  border: 10px;
  padding: 10px;
 
margin-top: 100px;
margin-left: 200px;
height: 400px;
text-align: center;


}



#pagebanner {

font-family:cursive;
color: black;
background-color: rgb(24,24,24);
width: 1200px;
border-radius: 25px;

}

#pehla{

color: white;
font-family: serif;
font-size: 50px;
}

#dusra{
color: white;
font-size: 25px;
}



ul{

display:flex;
flex-direction: column;
justify-content: flex-start;


}

li{

display: flex;
flex-direction: row;
justify-content: space-between;
width: 1100px;

}


.title{

text-align: left;
 


}
.name{

text-align: left;
color: blue;
font-size: 25px;
justify-items: center;

float: left;
    padding: 2px;
  margin-bottom: 9px;
  background-color: white;
  color: black;
}

.name:hover{
    
     background-color: red;
    font-size: 20px;
 font-weight:bold;
}


#movieslist{

background-color: #009B77;

height: 300px;
border-radius: 25px;
}

.title{
font-size: 30px;
margin-left: 20px;

}

#addmovie{

background-color:lightcoral;
font-size: 30px;
font-family: sans-serif;
height: 50px;
border-radius: 25px;
}

.del{

  background-color: lightcoral;
  border:none;
  color: black;
  padding: 13px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin:  3px;
  transition-duration: 0.4s;
  cursor: pointer;
margin-left: 50px;
}
.del:hover{

  background-color: #f44336;
  color: white;
 font-size: 15px;
}

.mov{

color:red;

}

#btn {
  
 
     background-color: white; /* Green */
  border: none;
 border-radius: 25px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 5px;
  cursor: pointer;
    color: black;
    border-color: red;
}

#btn:hover{

 background-color: black;
  color: white;
 font-size: 11px;

}
